@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--font-body: Inter, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;

	font-family: var(--font-body);
}

body {
	background-color: #fcf8f1;
}
